body {
  background-color: #a855f7;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn, .stop {
  background-color: #6b21a8;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover, .stop:hover {
  background-color: #9333ea;
}
